* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a, li, p, h1, .title, .snippet {
  line-height: 1.2;
  color: black;
  text-decoration: none;
}

#app {
  height: 50vh;
}

.random {
  display: inline;
  background-color: aliceblue;
  border: 1px black solid;
  float: right;
}

li {
  list-style-type: none;
}

ul {
  background-color: rgba(lightblue, 0.2);
}

.title {
  font-size: 1.5em;
  line-height: 1.5;
  border-top: 1px blue solid;
  margin-top: 20px;
}

.snippet {
  font-size: 1em
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 380px;
  flex-direction: column;
}

.search {
  font-size: 2.3em;
  text-transform: uppercase;
}
.space {
  margin-bottom: 30px;
}

form, input {
  width: 100%;
}

.btn {
  background-color: blue;
  box-shadow: 3px 3px 5px 5px grey;
}
.btn:hover {
  background-color: lightgreen;
  box-shadow: 3px 3px 5px 5px lightgray;
}